.Skill{
    padding: 35px;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    justify-content: center;
    /* height: 100vh; */
  
}
.Skill-heading h2{
    font-size: 70px;

}

.skill-box{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;

}

.skill-Inner-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.skill-Inner-box span{
    display: flex;
    align-items: center;
   
    gap: 12px;
}
.skill-Inner-box span p{
    font-weight: 600;
    font-size: 16px;
}
.skill-Inner-box span i{
    font-size: 40px;
    transition: transform 1s ease;
     
}

.bx{
   
  cursor: pointer;
}
/* Hover portion */
.bxl-java:hover{
    color: orange;
    transform: scale(1.1);
}
.bxl-html5:hover{
    color: orange;
    transform: scale(1.1);
}

.bxl-css3:hover{
    color: rgb(92, 102, 247);
    transform: scale(1.1);
}
.bxl-javascript:hover{
    color:rgb(255, 166, 0);
    transform: scale(1.1);
}
.bxl-react:hover{
    color:rgb(0, 255, 221);
    transform: scale(1.1);
}
.bxl-tailwind-css:hover{
    color:rgb(0, 247, 255);
    transform: scale(1.1);
}
.bxl-figma:hover{
    color:rgb(6, 180, 35);
    transform: scale(1.1);
}
.bxl-github:hover{
    color:gray;
    transform: scale(1.1);
}
@media screen and (max-width:425px){
    .skill{
        padding-top: 20rem;
    }
    .skill-box{
        flex-direction: column;
        gap: 30px;
    }
    .skill-Inner-box{
        flex-direction: row;
        
    }
    /* .Skill-heading h2{
        text-align: center;
    } */
    
  }
  
  @media screen and (min-width:426px) and (max-width:1440px){
    
  }