.navbar {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-family: var(--titles);
  color: var(--secondary-text);
  transition: all 0.4s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;
  z-index: 1000;
}

.navbar.colorChange {
  background-color: var(--secondary-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 27px;
  font-weight: 700;
  font-family: var(--paragraph);
}

.navbar h1 a {
  color: var(--secondary-text);
  text-decoration: none;
  font-family: var(--titles);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.navbar ul li {
  margin-left: 40px;
}

.navbar ul li a {
  font-size: 15px;
  color: var(--secondary-text);
  text-decoration: none;
  transition: color 0.2s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--secondary);
}

.media {
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.media span {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.media span a {
  color: var(--secondary-text);
  text-decoration: none;
}

.media span a:hover {
  color: var(--secondary);
}

.btn-mail {
  margin-left: 30px;
}

.btn-mail .mail {
  color: var(--secondary);
  padding: 10px 13px;
  font-size: 16px;
  border-radius: 50px;
  background-color: var(--mail-btn);
  text-decoration: none;
}

.hambourger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.hambourger .line {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-text);
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 25px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    width: 70%;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .media {
    display: none;
  }
  .hambourger {
    display: flex;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    padding: 0 30px;
  }

  .nav-links {
    display: none;
  }

  .media {
    display: none;
  }
  .hambourger {
    display: flex;
  }
}
