nav{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

.Home-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
   
    
   
}

.word {
  display: inline-block;
  font-size: 37px;
  transition: color 0.3s ease;
  cursor: pointer;
  font-weight: 900;
  
  
}
.word:hover {
  color: rgb(230, 59, 59); /* Change to the desired hover color */
}
.anchor1{
  cursor: pointer;
  color: black;
}
.material-symbols-outlined{
  cursor: pointer;
}
.box-1{
  
}
.light{
    position: relative;
    z-index: 4;
    font-size: 55px;
    cursor: pointer;
    transition: transform 1s ease;
    
}
.light:hover{
    transform: scale(1.1);
    
}
.Home-details p{
    font-family: "Caveat", cursive;
    position: relative;
    z-index: 4;

}
.word-span{
    padding-left: 1rem;
}

.menu{
    font-size: 70px;
    cursor: pointer;
    transition: transform 1s ease;
    z-index: 4;
   position: relative;
}
.menu:hover {
    transform: scale(1.1); /* Add hover effect */
  }

.box-2{
    position: relative;
    
   display: flex;
   align-items: center;
   gap: 20px;
   
    
}
.menu-box{
   display: flex;
   align-items: center;
   gap: 30px;
}
.box-2-inner {
    display: none;
    background: rgb(255, 254, 254);
    position: absolute;
    z-index: 3;
    bottom: 0;
    top: -35px;
    padding: 56px;
    right: -35px;
    transition: height 0.1s ease;
    height:100vh;
    
}
.box-2-inner.open {
    height:100vh
  }

.box-2-inner ul{
    padding-top: 6rem;

}
.box-2-inner li{
    list-style: none;
    font-size: 30px;
    padding: 10px 0px;
    

}

.menu2{
  display: flex;
  gap: 25px;
  

}
.menu2 li{
  list-style: none;
  font-family: "Caveat", cursive;
}
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0) scaleX(3);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0) scaleX(1);
    }
  
    75% {
      transform: translate3d(10px, 0, 0) scaleX(0.98);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInRight {
    animation-name: bounceInRight;
  }

  .leMagnify span { animation-name: leMagnify }
@keyframes leMagnify {
    50% {
        transform: scale(1.8);
        letter-spacing: 26px
    }
}
@media screen and (max-width:768px){
  .menu2{
    display: none;
  }
  .menu{
    display: block;
  }
  .box-2-inner{
    width: 100vw;
  }
  
}

@media screen and  (min-width:769px){
  .menu2{
    display: none;
  }
  .menu{
    display: block;
  }
}